.clearfix {}

.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.tests {
    padding: 20px;
}

textarea {
    padding: 10px;
    width: 50%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #bbb;
    text-transform: uppercase;
}

p span {
    padding: 10px 15px;
    border-radius: 5px;
}

.error {
    background-color: rgba(255, 0, 0, 0.2);
}

.report {
    background-color: rgba(0, 255, 0, 0.2);
}

button {
    padding: 5px 10px;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 300px;
}